.ipynb_checkpoints/1_EDA-checkpoint.ipynb
.ipynb_checkpoints/1_EDA-Copy1-checkpoint.ipynb
.ipynb_checkpoints/2_Modeling-checkpoint.ipynb
.ipynb_checkpoints/3_Optimization-checkpoint.ipynb
.ipynb_checkpoints/Classification_Project-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.DS_Store
